<html>
    <head>
        <title>FlexBox 2</title>
        <link rel="stylesheet" href="flexbox2.css" />
    </head>
    <body>
        <header>
            <h1>Iguarias Famosas</h1>
        </header>
        <section>
            <article>
                <h2>Bacalhau à Brás</h2>
                <p>
                    O Bacalhau à Brás é um prato típico da culinária portuguesa,
                    feito à base de bacalhau desfiado, batatas fritas e ovos
                    mexidos. Este prato é tradicionalmente servido com azeitonas
                    pretas e salsa picada, trazendo uma combinação de sabores
                    única e deliciosa. Originário de Lisboa, o Bacalhau à Brás é
                    uma verdadeira iguaria que conquista paladares ao redor do
                    mundo. O segredo está na qualidade do bacalhau e na textura
                    crocante das batatas, que fazem deste prato uma experiência
                    gastronômica memorável.
                </p>
            </article>
            <article>
                <h2>Sushi</h2>
                <p>
                    O Sushi é um prato icônico da culinária japonesa, composto
                    por arroz temperado com vinagre e combinado com diversos
                    ingredientes como peixe cru, frutos do mar, vegetais e algas
                    marinhas. Existem várias formas de apresentação, incluindo
                    nigiri, maki e sashimi. A precisão na preparação e o frescor
                    dos ingredientes são essenciais para a autenticidade do
                    sabor. O Sushi não é apenas uma refeição, mas uma arte que
                    reflete a cultura e a tradição do Japão, proporcionando uma
                    experiência culinária rica e sofisticada.
                </p>
            </article>
            <article>
                <div id="button-container">
                    <div>
                        <button>Smile</button>
                        <button>Laugh</button>
                        <button>Wink</button>
                        <button>Shrug</button>
                    </div>
                    <div>
                        <button>Blush</button>
                    </div>
                </div>
                <p>
                    A Feijoada é um prato tradicional brasileiro, geralmente
                    preparado com feijão preto e uma variedade de carnes de
                    porco, como linguiça, costela e carne seca. Servido com
                    arroz branco, couve refogada, laranja e farofa, é um símbolo
                    da culinária brasileira. <br /><br />Originária das
                    senzalas, onde os escravos preparavam suas refeições, a
                    Feijoada é hoje uma celebração da história e da cultura do
                    Brasil, reunindo famílias e amigos em torno de uma mesa
                    farta e repleta de sabores intensos e aconchegantes.
                </p>
            </article>
        </section>
    </body>
</html>
