body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: blueviolet;
    text-align: center;
    padding: 10px;
}

h1 {
    color: #FFF;
}

article {
    padding: 10px;
    background-color: aqua;
    margin : 10px;
    flex: 200px;
}


/* 

Flexbox

Isso torna o section um flex container, 
o que significa que seus filhos diretos (os elementos article) 
se tornam flex items.

*/
section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}
