<html>
    <head>
        <title>FlexBox 0</title>
        <link rel="stylesheet" href="flexbox0.css" />
    </head>
    <body>
        <header>
            <h1>Iguarias Famosas</h1>
        </header>
        <section>
            <article>
                <h2>Bacalhau à Brás</h2>
                <p>
                    O Bacalhau à Brás é um prato típico da culinária portuguesa,
                    feito à base de bacalhau desfiado, batatas fritas e ovos
                    mexidos. Este prato é tradicionalmente servido com azeitonas
                    pretas e salsa picada, trazendo uma combinação de sabores
                    única e deliciosa. Originário de Lisboa, o Bacalhau à Brás é
                    uma verdadeira iguaria que conquista paladares ao redor do
                    mundo. O segredo está na qualidade do bacalhau e na textura
                    crocante das batatas, que fazem deste prato uma experiência
                    gastronômica memorável.
                </p>
            </article>
            <article>
                <h2>Sushi</h2>
                <p>
                    O Sushi é um prato icônico da culinária japonesa, composto
                    por arroz temperado com vinagre e combinado com diversos
                    ingredientes como peixe cru, frutos do mar, vegetais e algas
                    marinhas. Existem várias formas de apresentação, incluindo
                    nigiri, maki e sashimi. A precisão na preparação e o frescor
                    dos ingredientes são essenciais para a autenticidade do
                    sabor. O Sushi não é apenas uma refeição, mas uma arte que
                    reflete a cultura e a tradição do Japão, proporcionando uma
                    experiência culinária rica e sofisticada.
                </p>
            </article>
            <article>
                <h2>Feijoada</h2>
                <p>
                    A Feijoada é um prato tradicional brasileiro, geralmente
                    preparado com feijão preto e uma variedade de carnes de
                    porco, como linguiça, costela e carne seca. Servido com
                    arroz branco, couve refogada, laranja e farofa, é um símbolo
                    da culinária brasileira. Originária das senzalas, onde os
                    escravos preparavam suas refeições, a Feijoada é hoje uma
                    celebração da história e da cultura do Brasil, reunindo
                    famílias e amigos em torno de uma mesa farta e repleta de
                    sabores intensos e aconchegantes.
                </p>
            </article>
            <!--             <article>
                <h2>Paella</h2>
                <p>
                    A Paella é um prato tradicional da culinária espanhola,
                    originário da região de Valência. Feita à base de arroz,
                    açafrão e uma mistura de frutos do mar, carnes e legumes, a
                    Paella é cozida em uma panela larga e rasa chamada
                    "paellera". Este prato é conhecido por sua rica combinação
                    de sabores e texturas, com o arroz absorvendo os sucos dos
                    ingredientes. A Paella é frequentemente servida em grandes
                    reuniões e celebrações, simbolizando a hospitalidade e a
                    convivência na cultura espanhola.
                </p>
            </article>
            <article>
                <h2>Coq au Vin</h2>
                <p>
                    O Coq au Vin é um clássico da culinária francesa,
                    consistindo em frango cozido lentamente em vinho tinto com
                    cogumelos, cebolas, alho e bacon. Este prato é apreciado
                    pela profundidade de seus sabores e pela textura macia do
                    frango, resultante do longo cozimento. Originário da região
                    da Borgonha, o Coq au Vin é uma verdadeira expressão da
                    gastronomia francesa, combinando simplicidade e
                    sofisticação. Acompanhado de batatas ou pão rústico, é uma
                    refeição reconfortante e elegante.
                </p>
            </article>
            <article>
                <h2>Pad Thai</h2>
                <p>
                    O Pad Thai é um prato clássico da culinária tailandesa,
                    composto por macarrão de arroz frito com tofu, camarão ou
                    frango, ovos, brotos de feijão, amendoim triturado e molho
                    de tamarindo. Este prato é conhecido por seu equilíbrio de
                    sabores doces, salgados e ácidos, proporcionando uma
                    experiência gastronômica vibrante. Frequentemente servido
                    com fatias de limão e pimenta em flocos, o Pad Thai é uma
                    refeição popular tanto nas ruas da Tailândia quanto em
                    restaurantes ao redor do mundo, refletindo a riqueza da
                    cultura culinária tailandesa.
                </p>
            </article>
            <article>
                <h2>Moussaka</h2>
                <p>
                    A Moussaka é um prato tradicional da culinária grega, feito
                    com camadas de berinjela, carne moída de cordeiro, tomates,
                    cebolas e uma cobertura de molho béchamel. Este prato é
                    assado até que a parte superior esteja dourada e
                    borbulhante, resultando em uma refeição rica e
                    reconfortante. A Moussaka é um exemplo perfeito da cozinha
                    mediterrânea, combinando ingredientes frescos e sabores
                    robustos para criar uma experiência culinária inesquecível.
                    É frequentemente servida em jantares familiares e ocasiões
                    especiais.
                </p>
            </article> -->
        </section>
    </body>
</html>
